.header {
  padding: 92px 24px 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__menu-list {
  display: flex;
  column-gap: 33px;
  list-style: circle;
  font-size: 18px;
  text-underline-offset: 4px;
}

.header__menu-link {
  text-decoration-thickness: 1px;
}

.header__menu-item_active {
  list-style: none;
  margin-left: 27px;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 133px;
  margin-right: 147px;
}

.address {
  display: flex;
  align-items: flex-start;
  width: 240px;
  flex-direction: column;
  font-size: 18px;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-underline-offset: 4px;
}

.header__address {
  margin-right: 25px;
}

.cover {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  padding: 160px 50px 120px;
  font-size: 100px;
  line-height: 125px;
  letter-spacing: 30px;
  text-transform: uppercase;
  color: #fff;
  z-index: 1;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  align-items: center;
  z-index: 1;
  padding-left: 77px;
  gap: 78px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 19px;
}

.cover__description-text-letter-spacing {
  letter-spacing: 1.1em;
}

.bet-button {
  min-width: 256px;
  height: 51px;
  border: 1px solid #fff;
  background-color: transparent;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.lots {
  padding: 179px 24px 146px;
}

.lots__heading {
  padding-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  max-width: 334px;
  min-height: 563px;
  flex-grow: 1;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  z-index: 1;
  padding: 51px 40px 0;
}

.card__text {
  padding: 0 40px 49px;
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.lots__look-more-link {
  padding: 28px 0 0 40px;
  display: block;
  font-weight: 400;
  font-size: 20px;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.about {
  padding: 35px 24px 0;
  display: grid;
  grid-template-columns: 334px auto auto;
  gap: 25px;
}

.about__column-right {
  grid-column: 2/4;
}

.about__logo {
  margin-left: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 120%;
}

.about__logo-image {
  display: block;
  width: 143px;
  height: 113px;
}

.about__title {
  margin-top: 102px;
  margin-bottom: 100px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column-reverse;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
  gap: 25px;
}

.footer {
  padding: 180px 50px 88px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  font-weight: 400;
  font-size: 18px;
  text-underline-offset: 4px;
}

.footer__menu-link {
  text-decoration-thickness: 1px;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  list-style-type: none;
  justify-content: flex-end;
}

.footer__social-icon {
  height: 48px;
  width: 48px;
}